# Ignore everything by default
*

# Allow directories so Git can traverse them
!*/

# Unignore specific directories for LWC and Apex code
!force-app/main/default/lwc/**
!force-app/main/default/classes/**

# Apex Classes
# !force-app/main/default/classes/GetDashboardProfileDetails.cls
# !force-app/main/default/classes/GetDashboardTimesheetLineItems.cls
# !force-app/main/default/classes/GetEmployeeDetails.cls
# !force-app/main/default/classes/GetRangeOfTimesheetsLineItems.cls
# !force-app/main/default/classes/GetTimesheet.cls
# !force-app/main/default/classes/GetTimesheetLineItems.cls

!.gitignore

*.cls-meta.xml