.vertical-divider {
    width: 1px;
    background-color: #dddbda;
}

.field-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.field-label {
    font-weight: bold;
    padding-right: 1rem;
}

.field-value {
    text-align: right;
}